body {
  color: #fcfcfc !important;
}

.jumbotron {
  background-image: url('../static/3.JPG') !important;
  background-repeat: no-repeat;

}

.vertical-center {
  height: 80vh;
  padding-top: 5%;

}

.opacity-box {
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.text-center{
  padding-top: 2%;

}
