<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/styles.css?nocache={timestamp}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="../static/sun.png">
    <title>WeatherApp</title>
  </head>
  <body class="jumbotron pb-0 mb-0" onload="init()">
    <nav class="navbar navbar-dark pt-0 pb-0 fixed-top" style="background-color: #000000" >
      <img src="../static/logo_name.png " style="height: 22px; width: 111px; margin: 0 auto;">
      <form class="form-inline">
        <input class="form-control pt-0 pb-0 mr-2" type="text" placeholder="Search City" aria-label="Search" id="cityName">
        <a class="btn flg-btn pt-0" onclick="getCity()"><img src="../static/search.png" width="20px" height="20px"></a>
      </form>
    </nav>
    <div class="container text-light">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="row mt-3">
            <div class="col-lg-9 col-sm-12">
              <h1 class="font-weight-light text-light" id="day-component" style="font-size: 50px;"></h1>
            </div>
            <div class="col-lg-3 col-sm-12">
              <h1 class="font-weight-light text-light text-right mb-0/" id="degree-component" style="font-size: 50px;" >44</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center vertical-center">
        <div class="col-10 text-center opacity-box mb-0">
          <h1 class="font-weight-light text-uppercase text-left pl-4" id="city-name">
            Riga
            <img src="../static/weather_images/snow.png" alt="" height="50" width="50" id="weather-icon" class="text-left">
          </h1>
          <div class="row mt-5">
            <div class="col">
              As of:
            </div>
            <div class="col" id="as-of">
            </div>
          </div>
          <div class="row">
            <div class="col">
              Weather:
            </div>
            <div class="col" id="weather">
            </div>
          </div>
          <div class="row">
            <div class="col">
              Temperature: 
            </div>
            <div class="col" id="temperature">
            </div>
          </div>
          <div class="row">
            <div class="col">
              Real feel:
            </div>
            <div class="col" id="real-feel">
            </div>
          </div>
          <div class="row">
            <div class="col">
              Sunrise: 
            </div>
            <div class="col" id="sunrise">
            </div>
          </div>
          <div class="row">
            <div class="col">
              Sunset:
            </div>
            <div class="col" id="sunset">
            </div>
          </div>
          <div class="row">
            <div class="col">
              Description:
            </div>
            <div class="col" id="description">
            </div>
          </div>
          <div class="row">
            <div class="col">
              UV index:
            </div>
            <div class="col" id="uv-index">
            </div>
          </div>
          <div class="row">
            <div class="col">
              Humidity:
            </div>
            <div class="col" id="humidity">
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-bottom" style="background-color: #000000">
      <a class="navbar-brand" style="font-size: 0.7rem ;right: 0";>created using selenium, bs4 and flask</a>
    </nav>
    <script>
      function init() {
        let d = new Date()
        const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        const months = [
          "January", "February", "March",
          "April", "May", "June", "July",
          "August", "September", "October",
          "November", "December"
        ];
        document.getElementById("day-component").innerHTML = days[d.getDay()] + ", " + ordinal_suffix_of(d.getDate()) + " " + months[d.getMonth()] ;
      }
      function changeIcon() {
        document.getElementById("weather-icon").src = weatherIcons[Math.floor(Math.random() * Math.floor(5))]
      }
      function getCity() {
        const input = document.getElementById("cityName").value;
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            const response = JSON.parse(this.responseText);
            document.getElementById("as-of").innerHTML = response.asof;
            document.getElementById("weather").innerHTML = response.weather;
            document.getElementById("degree-component").innerHTML = response.temperature;
            document.getElementById("real-feel").innerHTML = response.realfeel;
            document.getElementById("sunrise").innerHTML = response.sunrise;
            document.getElementById("sunset").innerHTML = response.sunset;
            document.getElementById("description").innerHTML = response.description;
            document.getElementById("uv-index").innerHTML = response.uvindex;
            document.getElementById("humidity").innerHTML = response.humidity;
          }
        };
        xhttp.open("GET", "/city/"+input, true);
        xhttp.send();
      }
      function changeImage() {


      }
      function ordinal_suffix_of(i) {
        let j = i % 10,
            k = i % 100;
        if (j == 1 && k != 11) {
            return i + "st";
        }
        if (j == 2 && k != 12) {
            return i + "nd";
        }
        if (j == 3 && k != 13) {
            return i + "rd";
        }
        return i + "th";
    }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>